version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: pethome_postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass123
      POSTGRES_DB: pethome_db
    ports:
      - "5442:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: